<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/samalyod.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">Саёҳат Маслаҳатлар & Блог</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
    
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/1.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">хар куни</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Истанбул-Ташкент </a></h3>
                        <p>Истанбул қадимийлик ва замонавийликни бирлаштирган шаҳар. Унинг атрофини маҳаллада (туманларда) ўрганиш яхшидир. 19-асрнинг Европа нафислигига тўла Беёглу тарихига шўнғинг ёки Муқаддас жойларни ўрганиш учун Султанаҳметга boring. Кейин юқори даражадаги дўконлар ва замонавий ресторанлар учун Нисантасига boring ёки замонавий Кадикойдаги бар ёки кафега қаранг. Бу фақат бошланиш: ўқинг ва сиз бошқа кўплаб тавсияларни топасиз.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/image_2.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Сешанба</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Анталья-ташкент</a></h3>
                        <p>
                            Кетма-кет учинчи ёзда онам ва мен Ёзимизни Дубайда ўтказамиз.
                            Бизнинг хонамиз ҳақида қисқача. Биз Дубайда premium пляж вилласини иккинчи marta ижарага олдик. Сувдаги вилладан фарқли ўлароқ, сиз пляждаги тўлқинларнинг овозини ешитишингиз мумкин, ва қозиқларга урилаётган сув чайқалишлари емас. Аммо сувдаги виллалар полда қизиқарли shisha деразага ега. У ердаги балиқларга қойил қолиш ажойиб. Аммо биз учун тўлқинларнинг овози янада ёқимли, шунингдек, ўзимизнинг қум пляжимиз, шунинг учун биз пляж вариантини афзал кўрамиз.
                            Beach villa учун bonus нафақат верандадаги столдир,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/incho.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Хар куни</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Инчо-Ташкент</a></h3>
                        <p>
                            Ўйин-кулги, санъат, мода, тарих, табиат ва яна Incheon сизни кутмоқда! Шаҳар фавқулодда уй-жой боом кечирмоқда, қайси тугатиш керак, дастлабки ҳисоб-китобларга кўра, йилда 2015. Бундан ташқари, 2014 йилги Осиё ўйинлари муносабати билан бу ерда меҳмонлар оқими кутилмоқда. Саёҳатчилар Боупаён ҳудудидаги дизайнерлик дўконларини ўрганишлари, санъат марказидаги тадбирлардан баҳраманд бўлишлари ёки Озодлик боғи ва Мустақиллик ёдгорлик залида мамлакат тарихини ўрганишлари мумкин. Ҳақиқий миллий таомлар ва сувенирлар учун сиз мамлакатдаги ягона расмий Чинатаунга боришингиз керак. Енг яқин оролларга паром-шаҳар шовқинидан қочишнинг енг зўр усули.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/ancara.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Сешанба</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Анкара-Ташкент</a></h3>
                        <p>Пойтахти ва Туркиянинг иккинчи енг машҳур шаҳри Анқара Ингури-Су қирғоғининг тик ёнбағрида кўтарилади. Бу замонавий Европа метрополияси бўлиб, у ерда кўп нарсалар шаҳар тарихини еслатади. Бу ерда сиз хет, фригияликлар, юнонлар, римликлар, византияликлар ва турклар цивилизациясининг ески қалъалари ва харобаларини топишингиз мумкин. Замонавий шаҳарда ҳукумат ва ҳукумат бинолари, йирик университетлар, ҳарбий базалар, консулликлар, жонли тунги ҳаёт ва енг қадимги Генклик боғи мавжуд.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/dubay.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Хар куни</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Дубай-Ташкент</a></h3>
                        <p>Дубайда ҳамма нарса ҳашаматли кўринади: ultra замонавий Бурж Халифа осмонўпар биносидан тортиб, пештахталари олтин ва заргарлик буюмлари билан тўлиб тошган бозор ва савдо марказларигача. Бу ерда сиз ҳар қандай нарсани орзу қилишингиз ва орзуларингизни рўёбга чиқаришингиз мумкин. Нима бўлишидан қатъий назар: агар бино ичида тош мумкин, чўл тепалари бемақсад ёки шаҳар устида бир кабел машина минишингиз. Аммо бу ерда нафақат гламур ва екстремал ўйин-кулги мавжуд. 19-аср ўрталарида Дубай қандай бўлганини кўриш учун тарихий Ал-Фаҳиди туманининг айланма кўчаларида сайр қилинг. Ёки Jumeirah масжидига ташриф буюринг (бу мусулмон бўлмаганлар учун очиқ бўлган кам сонли масжидлардан бири) ва Амирликлар маданияти билан танишинг.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/parij.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Сешанба</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Франция-Ташкент</a></h3>
                        <p>Франция нафақат Париж. Бу ерда кўриш учун жуда кўп нарса бор: Loire водийсидаги ажойиб қалъалардан Прованснинг лаванта далаларига ва Франция Ривиерасининг пляжларига. Дунёга машҳур гастрономик санъат ва нозик винолар бу мамлакатнинг Алп ландшафтлари ва меъморий дурдоналарига мукаммал қўшимча бўлади.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/NY.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Сешанба</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Нью-Йорк-Ташкент</a></h3>
                        <p>Енг баланд осмонўпар бинолар, енг йирик музейлар, енг тоза pizza. Ню-Ёркда мутлақо ҳамма нарса бор. Нима учун бу Қўшма Штатларда енг кўп ташриф буюриладиган жой еканлигини тушуниш осон: сиз тарихий жойларни ўрганишни, Бродвей спектаклини томоша қилишни ёки Бруклин кўчаларида юришни хоҳлайсизми, буни қилишнинг ҳеч қандай ёмон жойи йўқ — ва ҳар сафар борганингизда кашф етинг.янги нарса.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/tbilisi.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Се, Жу, Як</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Тблиси-Ташкент</a></h3>
                        <p>Грузия пойтахти Тблиси шаҳри готик ертак саҳифаларидан тушганга ўхшайди. Чуқур водий ёрқин рангли миноралар, тошли кўчалар ва фаол ривожланаётган санъат учун фон бўлиб хизмат қилади. Грузия меҳмондўстлиги машҳур маҳаллий таомларга хизмат кўрсатадиган замонавий ва анъанавий ресторанлар билан ажралиб туради.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/kuala-lumpur.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block" >
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Чор, Як</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Куала-Лумпур</a></h3>
                        <p>Kuala-Lumpur кўчаларида сайр қилиб, сиз замонавий шаҳар атмосферасига шўнғишингиз ёки қадимги ўтмишга қайтишингиз мумкин. Ушбу шаҳарнинг пайдо бўлишининг ўзига хос хусусияти машҳур Petronas егизак минораларидир. Ушбу 88 қаватли замонавий архитектура намуналари дунёдаги енг баланд егизак бинолардир. Ва бу ерда Шри Маҳамариамман Temple емас, Малайзияда енг қадимги Ҳинд Маъбад, нозик ўйма ва Ҳинд pantheon дан белгилар ранг-баранг ҳайкаллар билан безатилган бир муҳташам кўп қатламлик жабҳа билан. Дўконга борганингиздан сўнг, сиз замонавий ёрқин мега-савдо марказларида ажойиб вақт ўтказишингиз ёки маҳаллий бозорларга қарашингиз мумкин, у ерда сиз ноёб қўл санъатлари топасиз ва завқ билан савдолашишингиз мумкин.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/kuala-lumpur.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Ду, Па</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Куала-Лумпур( Малайзия)-Ташкент(обратныйси)</a></h3>
                        <p>Kuala-Lumpur кўчаларида сайр қилиб, сиз замонавий шаҳар атмосферасига шўнғишингиз ёки қадимги ўтмишга қайтишингиз мумкин. Ушбу шаҳарнинг пайдо бўлишининг ўзига хос хусусияти машҳур Petronas егизак минораларидир. Ушбу 88 қаватли замонавий архитектура намуналари дунёдаги енг баланд егизак бинолардир. Ва бу ерда Шри Маҳамариамман Temple емас, Малайзияда енг қадимги Ҳинд Маъбад, нозик ўйма ва Ҳинд pantheon дан белгилар ранг-баранг ҳайкаллар билан безатилган бир муҳташам кўп қатламлик жабҳа билан. Дўконга борганингиздан сўнг, сиз замонавий ёрқин мега-савдо марказларида ажойиб вақт ўтказишингиз ёки маҳаллий бозорларга қарашингиз мумкин, у ерда сиз ноёб қўл санъатлари топасиз ва завқ билан савдолашишингиз мумкин.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/narita.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Па, Жу</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент-Нарита-Ташкент</a></h3>
                        <p>
                            Бутун дунёдан рейсларни қабул қиладиган худди шу номдаги халқаро аеропорт кичик, аммо жонли шаҳарда жойлашган. Ва бу ерда сиз Едо даврида мамлакат қандай бўлганини еслашингиз, барча ёшдаги кўплаб музейлар ва тадбирларга ташриф буюришингиз мумкин. Кўпчилик бу шаҳарни аеропорти учун билади, аммо бу ерда ҳали ҳам жуда кўп қизиқарли нарсалар мавжуд. Шаҳар ҳаёти ёдгорлик дўконлари ва илон савдо расталари ва катта Шинсе-жи ибодатхонаси мажмуаси билан ўралган Омотесандо кўчаси атрофида жойлашган.

                            Наритадан унчалик узоқ бўлмаган жойда тарихий Савара шаҳри, Босо но Мура очиқ осмон остидаги музейи ва Шисуи Premium outlets жойлашган бўлиб, у ерда сизни ажойиб харидлар кутмоқда.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('/images/egypt.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp" style="min-width: 130px;">
                            <div class="one">
                                <span class="day">Чор, Ша</span>
                            </div>
                            <div class="two">
                                <span class="yr"></span>
                                <span class="mos"></span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Ташкент- Шарм Эль Шейх (Египт)-Ташкент</a></h3>
                        <p>Қизил денгиздаги турли хил денгиз ҳаёти турлари ва юзлаб маржон рифлари sharm ал-Шайхни шўнғин ва екотуризм ихлосмандлари учун айниқса жозибали қилади. Синай ярим оролида жойлашган ушбу шаҳарнинг туризмга асосланган иқтисодиёти сўнгги бир неча ўн йилликлар давомида сезиларли ўсишни бошдан кечирди, бу биринчи даражали курортларнинг пайдо бўлишига ва тунги ҳаётнинг гуллаб-яшнашига олиб келди. Рас Muhammad Миллий боғининг сувлари балиқ мактаблари ва ғалати ҳожатхоналар билан тўла – чунки 1981 йилда бўрон пайтида бу ерда санитария-тесисат билан юк кемаси чўкиб кетган.</p>
                    </div>
                </div>
            </div>
        </div>
       @*  <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div> *@
    </div>
</section>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/js/google-map.js"></script>
<script src="~/js/main.js"></script>