@{
    ViewData["Title"] = "Home Page";
}
<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                    <span class="ion-ios-play"></span>
                </a>
                <p class="caps" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Дунёнинг исталган бурчагига саёҳат қилинг</p>
                <h1 data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Биз билан саёҳатингизни унутилмас қилинг</h1>
            </div>
        </div>
    </div>
</div>

@* <section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrap-1 ftco-animate p-4">
                    <form action="#" class="search-property-1">
                        <div class="row">
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Destination</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="ion-ios-search"></span></div>
                                        <input type="text" class="form-control" placeholder="Search place">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Check-in date</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="ion-ios-calendar"></span></div>
                                        <input type="text" class="form-control checkin_date" placeholder="Check In Date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Check-out date</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="ion-ios-calendar"></span></div>
                                        <input type="text" class="form-control checkout_date" placeholder="Check Out Date">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-items-end">
                                <div class="form-group">
                                    <label for="#">Price Limit</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">$5,000</option>
                                                <option value="">$10,000</option>
                                                <option value="">$50,000</option>
                                                <option value="">$100,000</option>
                                                <option value="">$200,000</option>
                                                <option value="">$300,000</option>
                                                <option value="">$400,000</option>
                                                <option value="">$500,000</option>
                                                <option value="">$600,000</option>
                                                <option value="">$700,000</option>
                                                <option value="">$800,000</option>
                                                <option value="">$900,000</option>
                                                <option value="">$1,000,000</option>
                                                <option value="">$2,000,000</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg align-self-end">
                                <div class="form-group">
                                    <div class="form-field">
                                        <input type="submit" value="Search" class="form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> *@

<section class="ftco-section services-section bg-light">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate">
                <h2 class="mb-4">Малдив оролларида бўлганмисиз? Саёҳат қилиш вақти келди</h2>
                <p>Эртаклардаги сув ости дунёси, қуёшда порлаётган қумли ёки ҳайратда қолдирувчи мовий чироқлар билан қопланган мовий сувли пляжлар, янги денгиз маҳсулотлари ва чинакам қулай дам олиш.</p>
                <p>
                    Бу ерда сиз сувнинг 20 метр чуқурлигида ўзингизни дайвингда синаб кўришингиз, дельфинларни яқиндан кўриш учун океанда қайиқ билан ҳаракатланишингиз, 
                    жонли мусиқа остида қуёш ботишини томоша қилишингиз, СПАда ҳордиқ чиқаришингиз ва албатта сёрфинг, гидросикл каби сув спорти турларидан фойдаланишингиз мумкин.
                </p>
                <p><a href="#" class="btn btn-primary py-3 px-4">Поиск пункта назначения</a></p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-paragliding"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Тадбирлар </h3>
                                <p>Саёҳатизгиз давомида кўнгил очар тадбирлардан роҳатланинг, қизиқарли ўйинлар ва таъсуродли чиқишлардан завқланинг.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-route"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Ташкилли саёҳатлар</h3>
                                <p>Саёҳат давомида меморий обидалар, шаҳарнинг кўнгил очар майдонлари, турли хил егзотик муҳитдан баҳрамант бўлиш имконияти.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-tour-guide"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Шахсий гид</h3>
                                <p>Шаҳар тарихи ва маданяти сизга тўлиқ таъсурод қолдириш мақсадида сизга шахсий гит ёллаш хизматларидан фойдаланиш имкони.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 services d-block">
                            <div class="icon"><span class="flaticon-map"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Жойлашув Менежери</h3>
                                <p>Дам олиш муддатида жойлашувнинг энг гўзал масканларидан тўлиқ баҳрамант бўлишингиз учун масъул ходимлар бириктирилиши.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter img" id="section-counter">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img d-flex align-self-stretch" style="background-image:url(images/about.jpg);"></div>
            </div>
            <div class="col-md-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate">
                        <h2 class="mb-4">Биз билан саёҳатингизни унутилмас ва хавфсиз қилинг</h2>
                        <p>Биз билан ҳамкорликда бўлган мижозларимизни ишончлари бизнинг мижозларимизга қулайлик ва ажойиб ҳордиқ чиқаришлари учун жамоа бўлиб ҳаракат қилишимиздан.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center mb-4">
                            <div class="text">
                                <strong class="number" data-number="300">0</strong>
                                <span>Муваффақиятли саёҳатлар</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center mb-4">
                            <div class="text">
                                <strong class="number" data-number="24000">0</strong>
                                <span>Бахтли сайёҳатчи</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center mb-4">
                            <div class="text">
                                <strong class="number" data-number="200">0</strong>
                                <span>Ўрганилган жой</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Енг Яхши Манзил</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 ftco-animate">
                <div class="project-destination">
                    <a href="#" class="img" style="background-image: url(images/place-1.jpg);">
                        <div class="text">
                            <h3>Singapore</h3>
                            <span>8 Тур</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="project-destination">
                    <a href="#" class="img" style="background-image: url(images/place-2.jpg);">
                        <div class="text">
                            <h3>Canada</h3>
                            <span>2 Экскурсия</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="project-destination">
                    <a href="#" class="img" style="background-image: url(images/place-3.jpg);">
                        <div class="text">
                            <h3>Thailand</h3>
                            <span>5 Тур</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3 ftco-animate">
                <div class="project-destination">
                    <a href="#" class="img" style="background-image: url(images/place-4.jpg);">
                        <div class="text">
                            <h3>Autralia</h3>
                            <span>5 Тур</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Екскурсия манзили</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(images/destination-1.jpg);"></a>
                    <div class="text p-4">
                        <span class="price">Санторини ороли</span>
                        <span class="days">Екскурсия 8 кун давом етади</span>
                        <h3><a href="#">Греция , Санторини ороли</a></h3>
                        <p class="location"><span class="ion-ios-map"></span> Анъанавий оқ архитектура ва устидаги кўк гумбазли юнон православ черковлари</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-mountains"></span>Тогъ яқинида</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(images/destination-2.jpg);"></a>
                    <div class="text p-4">
                        <span class="price">Ниццы Пляжи</span>
                        <span class="days">Екскурсия 8 кун давом етади</span>
                        <h3><a href="#">Франция, Ўрта ер денгизи</a></h3>
                        <p class="location"><span class="ion-ios-map"></span> Илиқ денгиз, мазали таомлар ва турли хил ўйин-кулгилар билан кутиб олади.</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-sun-umbrella"></span>Пляж</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(images/destination-3.jpg);"></a>
                    <div class="text p-4">
                        <span class="price">Пертшир минтақаси</span>
                        <span class="days">Екскурсия 8 кун давом етади</span>
                        <h3><a href="#">Шатландия</a></h3>
                        <p class="location"><span class="ion-ios-map"></span> Пиёда саёҳат қилишга нима дейсиз?, бу имкониятни сизга Пертиш минтақаси беради, дўстларингиз билан бирга саёҳат қилинг</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-sun-umbrella"></span>Кенгликлар</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(images/destination-4.jpg);"></a>
                    <div class="text p-4">
                        <span class="price">Бали ороли</span>
                        <span class="days">Екскурсия 10 кун давом етади</span>
                        <h3><a href="#">Бали, Индонезия</a></h3>
                        <p class="location"><span class="ion-ios-map"></span> Бали оролида яшаш учун қулай жой эканлигини қўшинг ва кўплаб чет элликлар бу эрда нафақага чиқишни танлаган бўлса, ажабланарли эмас.</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-sun-umbrella"></span>Бали, Индонезия</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(images/destination-5.jpg);"></a>
                    <div class="text p-4">
                        <span class="price">Блаузее кўли</span>
                        <span class="days">Екскурсия 8 кун давом етади</span>
                        <h3><a href="#">Швейцария</a></h3>
                        <p class="location"><span class="ion-ios-map"></span> Швейцариядаги энг мовий кўл. Алп тоғлари мамлакати гўзал кўлларга бой</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-sun-umbrella"></span>Тогъ яқинида</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ftco-animate">
                <div class="project-wrap">
                    <a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
                    <div class="text p-4">
                        <span class="price">Cha Choeng шаҳри</span>
                        <span class="days">Екскурсия 8 кун давом етади</span>
                        <h3><a href="#">Таиланд</a></h3>
                        <p class="location"><span class="ion-ios-map"></span> Cha Choeng, Таиланд</p>
                        <ul>
                            <li><span class="flaticon-shower"></span>2</li>
                            <li><span class="flaticon-king-size"></span>3</li>
                            <li><span class="flaticon-sun-umbrella"></span>шаҳар</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section bg-bottom" style="background-image: url(images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2 class="mb-4">Туристик шарҳлар</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Uzim nomimdan va oilam nomidan KavsarAviaToor jamoasiga maroqli sayohat uchun minnatdorchilik bildiraman.</p>
                                <div class="d-flex align-items-center">
                                   
                                    <div class="pl-3">
                                        <p class="name">Хумойин7</p>
                                        <span class="position">14.06.2024</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">
                                    У других тур агенств у меня всегда были проблемы с гостиницами, сервисом, гид плохой. Рекомендавли KavsarAviaTour чему я был приятно удивлен хороший сервис, отличные гостиницы, особенно гид профессионал своего дела
                                    отдохнули отлично время пролетела очень быстро
                                    Спасибо KavsarAviaTour.
                                </p>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Саша</p>
                                        <span class="position">03.07.2024</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">
                                    Assalomu alaykum! birinchi marotaba sayohatga oilam bilan chiqdim menga juda yoqdi mehmonxonalarga joylashtirishdi, 8 kun juda maroqli o`tdi KavsarAviaTour raxmat.
                                </p>
                                <div class="d-flex align-items-center">
                                    <div class="pl-3">
                                        <p class="name">Nargiza Aminova</p>
                                        <span class="position">09.08.2023</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Менга ўртоғим KavsarAviaTour ни тавсия берди ота онамни саёҳатга юбордим жуда хурсанд бўлиб келишди. Ходимлар жуда ҳушмомила KavsarAviaTour га рахмат.</p>
                                <div class="d-flex align-items-center">
                                    @* <div class="user-img" style="background-image: url(images/person_1.jpg)"></div> *@
                                    <div class="pl-3">
                                        <p class="name">Охунжон Йўлдашев</p>
                                        <span class="position">18.06.2024</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Мен хозир жуда хурсандман айни вохтда Анталиядаман 5 кун бўлди жуда мароқли дам оляпман. Мен Ҳалима сизларга КавсарАвиаТоур тавсия қиламан КавсарАвиаТоур зўр.</p>
                                <div class="d-flex align-items-center">
                                   @*  <div class="user-img" style="background-image: url(images/person_2.jpg)"></div> *@
                                    <div class="pl-3">
                                        <p class="name">Ҳалима Юнусова</p>
                                        <span class="position">22.07.2024</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">Сўнгги хабар</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_1.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp">
                            <div class="one">
                                <span class="day">18</span>
                            </div>
                            <div class="two">
                                <span class="yr">2024</span>
                                <span class="mos">Аугуст</span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Биз билан саёҳат янада хамёнбоп нархларда. Анталия сизни ўзининг гўзал масканлари билан лол қолдиради</a></h3>
                        <p>Уйингиз соҳил олдида жойлашган, қуёш нурлари соҳил бўйлаб сизнинг деразангизда.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_2.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp">
                            <div class="one">
                                <span class="day">21</span>
                            </div>
                            <div class="two">
                                <span class="yr">2024</span>
                                <span class="mos">Август</span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Биз билан саёҳат қилинг, бизга боғланинг ва таъсуроднинг янги саҳифасини бирга очамиз</a></h3>
                        <p>Уйғонганингизда гўзал манзаралар, ўсимликлар ва қушлар сиз билан тонгни қарши олишади.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry">
                    <a href="blog-single.html" class="block-20" style="background-image: url('images/image_3.jpg');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp">
                            <div class="one">
                                <span class="day">28</span>
                            </div>
                            <div class="two">
                                <span class="yr">2024</span>
                                <span class="mos">Август</span>
                            </div>
                        </div>
                        <h3 class="heading"><a href="#">Гўзал шаҳарлар сизни ўз жозибаси ва виқори билан лол қолдириради</a></h3>
                        <p>Қуёшнинг ботишини оилангиз ва яқинларингиз билан кўзатиш жуда мароқли.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.easing.1.3.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.stellar.min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script src="~/js/aos.js"></script>
<script src="~/js/jquery.animateNumber.min.js"></script>
<script src="~/js/bootstrap-datepicker.js"></script>
<script src="~/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/js/google-map.js"></script>
<script src="~/js/main.js"></script>
